@media screen and (max-width: 1580px) {
  .bannSection .bannBlock .text {
    width: 100%;
  }
  .menuListSection .menuListBlock .product {
    margin: 0;
  }
}
@media screen and (max-width: 1399px) {
  .title__name {
    font-size: 55px;
  }
  section:not(.bannSection) {
    padding: 70px 0;
  }
  .menu-open .info-block .item.list ul {
    gap: 30px;
  }
  .menuListSection .menuListBlock .product {
    gap: 50px;
  }
}
@media screen and (max-width: 1209px) {
  .bannSection .bannBlock .text {
    padding-left: 120px;
  }
  .aboutSection .aboutBlock .info-block, .aboutSection .menuBlock .info-block, .aboutSection .deliveryBlock .info-block, .menuSection .aboutBlock .info-block, .menuSection .menuBlock .info-block, .menuSection .deliveryBlock .info-block, .deliverySection .aboutBlock .info-block, .deliverySection .menuBlock .info-block, .deliverySection .deliveryBlock .info-block {
    padding-left: 0;
  }
  .menuSection .menuBlock .menu-list .item .img {
    padding: 20px;
  }
  .contactSection .contactBlock .info-block .item .blockMain .item_b .time {
    line-height: 1;
  }
  .contactSection .contactBlock .info-block .item .info .btn-block a,
  .deliverySection .deliveryBlock .info-block .item .btn-block a {
    width: 100%;
    text-align: center;
  }
  .bannSection .bannBlock .text {
    font-size: 50px;
  }
}
@media screen and (max-width: 949px) {
  .menuListSection .menuListBlock .product {
    display: flex;
    flex-direction: column;
  }
  main {
    padding-left: 100px;
  }
  .bannSection .bannBlock {
    padding-bottom: 50px;
  }
  .bannSection .bannBlock .text {
    font-size: 45px;
    padding-left: 95px;
  }
  header .header .logo-burger .logo {
    width: 60px;
  }
  .aboutSection .aboutBlock .info-block, .aboutSection .menuBlock .info-block, .aboutSection .deliveryBlock .info-block, .menuSection .aboutBlock .info-block, .menuSection .menuBlock .info-block, .menuSection .deliveryBlock .info-block, .deliverySection .aboutBlock .info-block, .deliverySection .menuBlock .info-block, .deliverySection .deliveryBlock .info-block {
    grid-template-columns: 1fr;
  }
  .menuSection .menuBlock .menu-list {
    padding-left: 0;
  }
  .title__block::before {
    top: 11px;
    transform: translateY(0);
  }
  .aboutSection .aboutBlock .info-block .item .title__name, .aboutSection .menuBlock .info-block .item .title__name, .aboutSection .deliveryBlock .info-block .item .title__name, .menuSection .aboutBlock .info-block .item .title__name, .menuSection .menuBlock .info-block .item .title__name, .menuSection .deliveryBlock .info-block .item .title__name, .deliverySection .aboutBlock .info-block .item .title__name, .deliverySection .menuBlock .info-block .item .title__name, .deliverySection .deliveryBlock .info-block .item .title__name {
    width: 100%;
  }
  .title__name {
    font-size: 40px;
  }
  .contactSection .contactBlock .info-block {
    grid-template-columns: 1fr;
  }
  .contactSection .contactBlock .info-block .item {
    display: flex;
    flex-direction: column;
  }
  .contactSection .contactBlock .info-block .item .info {
    position: initial;
    transform: none;
  }
  .contactSection .contactBlock .info-block .item .img {
    height: 300px;
  }
  .bannSection .bannBlock .text {
    padding-left: 0;
  }
  .contactSection .contactBlock .info-block .item:first-of-type {
    padding-right: 0;
  }
}
@media screen and (max-width: 759px) {
  .container {
    width: calc(100% - 40px);
    padding: 0;
  }
  .bannSection .bannBlock nav ul {
    -moz-column-gap: 15px;
         column-gap: 15px;
    justify-content: center;
  }
  main {
    padding-left: 0;
  }
  header {
    width: 100%;
    height: auto;
  }
  header .header {
    flex-direction: row;
    padding: 15px 20px;
  }
  header .header .logo-burger {
    flex-direction: row;
  }
  header .header .social ul {
    flex-direction: row;
  }
  .bannSection .bannBlock {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  .bannSection {
    min-height: 80vh;
  }
  .bannSection .bannBlock .text {
    line-height: 1.2;
  }
}
@media screen and (max-width: 580px) {
  .title__block {
    margin-bottom: 40px;
  }
  .menu-open .info-block .item.list ul li {
    font-size: 25px;
  }
  .menu-open .info-block .item.list ul {
    gap: 15px;
  }
}
@media screen and (max-width: 500px) {
  .menuSection .menuBlock .menu-list {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .menuSection .menuBlock .menu-list .item .img {
    margin-bottom: 0;
  }
  .title__name {
    font-size: 35px;
  }
  .contactSection .contactBlock .info-block .item .blockMain .item_b .time span {
    font-size: 60px;
    margin-right: 0;
  }
  section:not(.bannSection) {
    padding: 60px 0;
  }
}
@media screen and (max-width: 380px) {
  .bannSection .bannBlock .text {
    font-size: 40px;
  }
  .aboutSection .aboutBlock .info-block .item p, .aboutSection .menuBlock .info-block .item p, .aboutSection .deliveryBlock .info-block .item p, .menuSection .aboutBlock .info-block .item p, .menuSection .menuBlock .info-block .item p, .menuSection .deliveryBlock .info-block .item p, .deliverySection .aboutBlock .info-block .item p, .deliverySection .menuBlock .info-block .item p, .deliverySection .deliveryBlock .info-block .item p {
    font-size: 16px;
  }
  .menu-open .info-block {
    padding: 30px 20px;
  }
  footer .footer .info-block {
    grid-template-columns: 1fr;
  }
  footer .footer .info-block span:nth-of-type(1),
  footer .footer .info-block span:nth-of-type(2) {
    text-align: left;
  }
  .btn {
    font-size: 18px;
  }
  .menuListSection .menuListBlock .product .gallery .swiper .swiper-wrapper .img {
    height: 60px;
  }
}
@media screen and (max-width: 320px) {
  .bannSection .bannBlock .text {
    font-size: 35px;
  }
  .title__name {
    font-size: 30px;
  }
  .title__block {
    font-size: 18px;
    padding-right: 80px;
  }
  .contactSection .contactBlock .info-block .item .blockMain .item_b .city {
    font-size: 14px;
  }
  .contactSection .contactBlock .info-block .item .info {
    padding: 20px;
  }
}/*# sourceMappingURL=mobile.css.map */