$black: #333333;
$white: #ffffff;
$accent: #B59571;
$dark: #5B5B5B;
$fonts: 'Circe', sans-serif;

body {
    font-family: $fonts;
}
section:not(.bannSection) {
    padding: 75px 0;
}
a {
    text-decoration: none;
    color: $black;
}
header {
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: $black;
    z-index: 50;
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding: 30px 20px;
        height: 100%;
        .logo-burger {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .logo {
                width: 80px;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .burger {
                display: flex;
                flex-direction: column;
                gap: 7px;
                width: 35px;
                cursor: pointer;
                div {
                    background-color: $accent;
                    height: 4px;
                    border-radius: 1000px;
                }
                div:nth-of-type(1) {
                    width: 50%;
                }
                div:nth-of-type(3) {
                    width: 75%;
                }
            }
        }
        .social ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            a {
                width: 40px;
                height: 40px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
.bannSection {
    position: relative;
    min-height: 100vh;
    background-image: url('../img/bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    .bannBlock {
        position: relative;
        height: auto;
        margin: 0 120px;
        padding: 30px 0 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
        .text {
            padding-left: 300px;
            font-size: 54px;
            font-weight: bold;
            color: $white;
            width: 75%;
        }
        nav ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            column-gap: 50px;
            row-gap: 10px;
            list-style: none;
            margin: 0;
            padding: 0;
            color: $white;
            a {
                color: $white;
                text-decoration: none;
                display: inline-block;
            }
            li:last-of-type a {
                padding: 10px 20px;
                background-color: $accent;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
}
.bannSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: .6;
}
.title__block {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-right: 90px;
    margin-bottom: 80px;
}
.title__block::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 60px;
    height: 3px;
    background-color: $accent;
    transform: translateY(-50%);
}
.aboutSection,
.menuSection,
.deliverySection {
    .aboutBlock,
    .menuBlock,
    .deliveryBlock {
        .info-block {
            display: grid;
            grid-template-columns: 300px 1fr;
            padding-left: 220px;
            gap: 20px;
            .item {
                .title__name {
                    width: 80%;
                }
                p {
                    font-size: 18px;
                }
                p:last-of-type {
                    margin-bottom: 0;
                }
                .btn-block {
                    margin-top: 60px;
                }
            }
        }
        .menu-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-left: 220px;
            gap: 24px;
            margin-top: 80px;
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                .img {
                    padding: 40px 40px 0 40px;
                    margin-bottom: 24px;
                    width: 100%;
                    height: 240px;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .img::before {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: calc(100% - 40px);
                    border: 1px solid $black;
                    opacity: .2;
                    z-index: -1;
                }
                .title__block {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.title__name {
    font-size: 64px;
    font-weight: bold;
    line-height: 1.2;
}
.deliverySection .deliveryBlock .info-block .item .title__name {
    width: 100%;
}
.btn-block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 15px;
}
.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    transition: all .3s;
    cursor: pointer;
}
.btn-accent {
    background-color: $accent;
    color: $white;
}
.btn-accent:hover {
    background-color: #9f866b!important;
}
.btn-borderGray {
    background-color: $white;
    outline: 1px solid rgba(51, 51, 51, 0.2);
    outline-offset: -1px;
}
.btn-borderGray:hover {
    background-color: $black;
    outline: 0px;
    color: $white;
}
.btn-borderWhite {
    background-color: transparent;
    outline: 1px solid $white;
    outline-offset: -1px;
    color: $white;
}
.btn-borderWhite:hover {
    background-color: $white;
    outline: 0;
    color: $black!important;
}
.contactSection {
    .contactBlock {
        .info-block {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 20px;
            .item {
                width: 100%;
                position: relative;
                .blockMain {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 24px;
                    row-gap: 50px;
                    .item_b {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        .time {
                            color: $accent;
                            font-size: 32px;
                            font-weight: 700;
                            span {
                                font-size: 64px;
                                margin-right: 15px;
                            }
                        }
                        .city {
                            font-size: 18px;
                        }
                    }
                }
                .img {
                    width: 100%;
                    height: 450px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .info {
                    position: absolute;
                    top: 50%;
                    left: -110px;
                    padding: 40px;
                    background-color: $dark;
                    color: $white;
                    transform: translateY(-50%);
                    a {
                        color: $white;
                    }
                    .address {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .addr,
                        .phone {
                            display: flex;
                            gap: 15px;
                            i {
                                color: $accent;
                            }
                        }
                    }
                    .time-work {
                        margin-top: 25px;
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        .title {
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .block_time {
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            .item_t {
                                display: flex;
                                column-gap: 14px;
                                row-gap: 5px;
                                span {
                                    font-size: 18px;
                                }
                                span:first-of-type {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                    .btn-block {
                        margin-top: 30px;
                    }
                }
            }
            .item:first-of-type {
                padding-right: 110px;
            }
        }
    }
}
footer {
    background-color: $black;
    color: $white;
    a {
        color: $white;
    }
    .footer {
        padding: 35px 0;
        .info-block {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
            row-gap: 10px;
            align-items: center;
            .logo {
                width: 80px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            span:nth-of-type(1) {
                text-align: center;
            }
            span:nth-of-type(2) {
                text-align: right;
            }
        }
    }
}
.navLkSection {
    padding-top: 30px!important;
    padding-bottom: 0!important;
    .navLkBlock {
        nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            column-gap: 30px;
            row-gap: 10px;
        }
    }
}
.menuListSection {
    .menuListBlock {
        .category {
            padding-bottom: 60px;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                gap: 10px;
                li {
                    a {
                        position: relative;
                    }
                    a.active::before,
                    a:hover::before {
                        content: '';
                        position: absolute;
                        bottom:- 5px;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $accent;
                    }
                }
            }
        }
        .product {
            margin: 0 200px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 130px;
            .gallery {
                .img {
                    width: 100%;
                    height: 317px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .swiper {
                    margin-top: 24px;
                    .swiper-wrapper {
                        .img {
                            height: 93px;
                        }
                    }
                }
            }
            .information {
                display: flex;
                flex-direction: column;
                > .name {
                    font-size: 35px;
                    font-weight: bold;
                    line-height: 110%;
                    padding-bottom: 35px;
                    border-bottom: 1px solid $black;
                    margin-bottom: 35px;
                }
                .cost {
                    margin-bottom: 30px;
                    span:not(:first-of-type) {
                        opacity: .6;
                    }
                    span:first-of-type {
                        font-size: 32px;
                        font-weight: bold;
                    }
                }
                .quantity {
                    display: flex;
                    flex-direction: column;
                    > span {
                        display: inline-block;
                        font-weight: bold;
                        margin-bottom: 25px;
                    }
                    .inCart {
                        display: flex;
                        flex-wrap: wrap;
                        column-gap: 20px;
                        row-gap: 10px;
                        padding-bottom: 45px;
                        border-bottom: 1px solid $black;
                        margin-bottom: 35px;
                        input {
                            border: 1px solid rgba(51, 51, 51, 0.2);
                            outline: none;
                            padding: 15px 25px;
                            width: 85px;
                        }
                    }
                }
                .additionally {
                    display: flex;
                    flex-direction: column;
                    > span {
                        font-size: 32px;
                        font-weight: bold;
                        margin-bottom: 30px;
                        display: inline-block;
                    }
                    .functions {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 30px;
                            .info {
                                display: flex;
                                flex-direction: column;
                                gap: 10px;
                                .name {
                                    font-weight: bold;
                                    opacity: .5;
                                }
                                .price {
                                    font-weight: bold;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .info-block.listProduct {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(270px, auto));
            gap: 25px;
            .item {
                border: 1px solid rgba(51, 51, 51, 0.2);
                .img {
                    width: 100%;
                    height: 220px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .name-price {
                    display: flex;
                    flex-direction: column;
                    padding: 30px;
                    gap: 25px;
                    .name {
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .price-cart {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .price {
                            font-size: 32px;
                            font-weight: bold;
                        }
                        .btn {
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
    }
}
.swiper {
    .swiper-wrapper {
        max-width: 0;
    }
    .swiper-button-next, .swiper-button-prev {
        color: $black;
    }
}
.modal#newOrderModal {
    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        color: $white;
        padding: 60px;
        .logo {
            width: 80px;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        span {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .btn-close {
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 30px;
            color: $accent;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            input {
                padding: 15px 20px;
                background-color: $black;
                outline: 0;
                border: 1px solid $white;
                color: $white;
            }
            .desc {
                display: flex;
                row-gap: 24px;
                column-gap: 30px;
                input {
                    width: calc(50% - 12px);
                }
            }
            button {
                margin: 10px auto 0;
                width: fit-content;
            }
        }
    }
}
button {
    border: 0;
    outline: 0;
}
.menu-open {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $black;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
    transition: all .3s;
    .info-block {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 100px 90px;
        min-width: 100vw;
        overflow-y: auto;
        gap: 20px;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    color: $white;
                    a {
                        color: $white;
                    }
                }
            }
        }
        .item.logo-close {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .logo {
                width: 80px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .btn-close {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $accent;
                opacity: 1;
                cursor: pointer;
                i {
                    font-size: 30px;
                }
            }
        }
        .item.list {
            ul {
                display: flex;
                flex-direction: column;
                gap: 60px;
                li {
                    font-size: 48px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
        .item.social {
            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                column-gap: 20px;
                row-gap: 10px;
                li {
                    a {
                        img {
                            width: 40px;
                            height: 40px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}
.menu-open:not(.active) {
    width: 0;
}